$backgroundColor : #0d082a;
$whiteColor : #ffffff;

.forgotBg{
    background-color: $backgroundColor;
    width: 100%;
    height: 100vh;
    padding: 100px;
    color: $whiteColor;

    .forgot_wrapper{
        
        .forgotCard{
            width: 100%;
            border-radius: 10px;
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .authInput{
            width: 100%;
            height: 40px;
            margin : 7px 0;
            padding: 5px 10px;
            outline: none;
        }
        .authButton{
            width: 50%;
            margin: 10px auto;
        }
    }
}