$whiteColor : #ffffff;
$backgroundColor : #0d082a;

.signUp{
    background-color: $backgroundColor;
    width: 100%;
    // height: 100vh;
    padding: 40px;
    color : $whiteColor;
    .signUp__Wrapper{
        // height: 640px;
        padding: 20px;
            .input_Wrapper{
                margin: 20px 0;

                .authInput{
                    width: 100%;
                    height: 40px;
                    margin : 5px 0;
                    padding: 5px 10px;
                    outline: none;
                  }
            }

            .signUpButton{
                width: 50%;
                margin: 5px auto;
            } 
    }

}